services:
  mongo:
    image: mongo:6
    container_name: mongo_grocers_store
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    
  backend:
    build: ./server
    container_name: grocers_backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    
  frontend:
    build: ./client
    container_name: grocers_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data: 
    